@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 1.2;
  background-color: #1C1C1C;
}

section {
  position: relative;
  overflow: visible;
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.1;
}

p {
  margin: 0;
  opacity: 0.7;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

.main-content {
  overflow: hidden;
}

.body-blocked {
  overflow: hidden;
}

.button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  background-color: #F6762C;
  border: 1.5px solid #F6762C;
  font-weight: 500;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 0 35px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover {
  color: #F6762C;
  background-color: transparent;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #0B0E11;
  z-index: 1000;
}

.preloader__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.pl1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em;
  width: 6em;
  height: 6em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pl1__a, .pl1__b, .pl1__c {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: bounce1 1s linear infinite;
          animation: bounce1 1s linear infinite;
}

.pl1__a {
  background-color: #F6762C;
}

.pl1__b {
  background-color: #F6762C;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.pl1__c {
  background-color: #F6762C;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes bounce1 {
  from, to {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(5em) scale(1, 1);
            transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(5em) scale(1.5, 0.5);
            transform: translateY(5em) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    -webkit-transform: translateY(5em) scale(1, 1);
            transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce1 {
  from, to {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: translateY(5em) scale(1, 1);
            transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  50% {
    -webkit-transform: translateY(5em) scale(1.5, 0.5);
            transform: translateY(5em) scale(1.5, 0.5);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  55% {
    -webkit-transform: translateY(5em) scale(1, 1);
            transform: translateY(5em) scale(1, 1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
  transition: 0.6s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-header__wrap {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 991.98px) {
  .main-header__wrap {
    height: 75px;
  }
}

@media (max-width: 575.98px) {
  .main-header__wrap {
    height: 60px;
  }
}

.main-header__button {
  border: 3px solid #F6762C;
}

.main-header__button:hover {
  color: #fff;
}

@media (max-width: 991.98px) {
  .main-header__button {
    height: 44px;
    padding: 0 25px;
    border-radius: 35px;
  }
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 150px;
      flex-basis: 150px;
}

@media (max-width: 991.98px) {
  .logo-link {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.logo-image {
  width: 56px;
  height: 44px;
}

@media (max-width: 991.98px) {
  .menu {
    display: none;
  }
}

.menu .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-list__item {
  margin-right: 30px;
}

.menu .menu-list__item:last-child {
  margin-right: 0;
}

.menu .menu-list__link {
  position: relative;
  text-transform: uppercase;
  opacity: 0.7;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu .menu-list__link:hover {
  opacity: 1;
}

.burger-menu {
  width: 44px;
  height: 30px;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .burger-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.burger-menu__line {
  height: 4px;
  border-radius: 4px;
  width: 100%;
  background-color: white;
  display: block;
  position: absolute;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.burger-menu__line:nth-child(1) {
  width: 36px;
  top: 0%;
}

.burger-menu__line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger-menu__line:nth-child(3) {
  width: 36px;
  bottom: 0%;
}

.burger-menu.close .burger-menu__line {
  animation-direction: reverse;
}

.burger-menu.open .burger-menu__line {
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

.burger-menu.animate .burger-menu__line {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.burger-menu.animate .burger-menu__line:nth-child(1) {
  -webkit-animation-name: default-top;
          animation-name: default-top;
}

.burger-menu.animate .burger-menu__line:nth-child(2) {
  -webkit-animation-name: default-middle;
          animation-name: default-middle;
}

.burger-menu.animate .burger-menu__line:nth-child(3) {
  -webkit-animation-name: default-bottom;
          animation-name: default-bottom;
}

@-webkit-keyframes default-top {
  50% {
    top: 45%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    width: 100%;
    top: 45%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes default-top {
  50% {
    top: 45%;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    width: 100%;
    top: 45%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes default-middle {
  50%, 100% {
    visibility: hidden;
  }
}

@keyframes default-middle {
  50%, 100% {
    visibility: hidden;
  }
}

@-webkit-keyframes default-bottom {
  50% {
    bottom: 42.5%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    width: 100%;
    bottom: 42.5%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes default-bottom {
  50% {
    bottom: 42.5%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    width: 100%;
    bottom: 42.5%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.main-header.stickytop {
  background-color: #1976d2;
}

.main-header.stickytop .main-header__wrap {
  height: 75px;
}

@media (max-width: 991.98px) {
  .main-header.stickytop .main-header__wrap {
    height: 60px;
  }
}

.home-section {
  height: 100vh;
  background-image: url("../img/home-section/burger-bg.jpg");
  background-size: cover;
}

.home-block {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-block__headline {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  .home-block__headline {
    margin-bottom: 5px;
    font-size: 12px;
  }
}

.home-block__subheadline {
  font-size: 57px;
  margin-bottom: 40px;
}

@media (max-width: 1199.98px) {
  .home-block__subheadline {
    margin-bottom: 22px;
  }
}

@media (max-width: 991.98px) {
  .home-block__subheadline {
    margin-bottom: 20px;
    font-size: 52px;
  }
}

@media (max-width: 767.98px) {
  .home-block__subheadline {
    font-size: 48px;
  }
}

@media (max-width: 575.98px) {
  .home-block__subheadline {
    font-size: 42px;
    line-height: 1;
  }
}

.home-block__text {
  font-size: 18px;
  margin-bottom: 42px;
}

@media (max-width: 1199.98px) {
  .home-block__text {
    margin-bottom: 30px;
    font-size: 16px;
  }
}

@media (max-width: 767.98px) {
  .home-block__text {
    font-size: 14px;
  }
}

.dishes-section {
  padding: 115px 0 100px;
}

@media (max-width: 1199.98px) {
  .dishes-section {
    padding: 115px 100px 100px;
  }
}

@media (max-width: 991.98px) {
  .dishes-section {
    padding: 100px 65px 80px;
  }
}

@media (max-width: 767.98px) {
  .dishes-section {
    padding: 80px 0;
  }
}

@media (max-width: 1199.98px) {
  .dishes-section__column {
    margin-bottom: 30px;
  }
}

.dish-block {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

@media (max-width: 1399.98px) {
  .dish-block {
    width: 100%;
  }
}

@media (max-width: 1199.98px) {
  .dish-block {
    width: 72%;
  }
}

@media (max-width: 991.98px) {
  .dish-block {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .dish-block {
    width: 80%;
  }
}

.dish-block__image-wrap {
  width: 100%;
  height: 175px;
}

.dish-block__image {
  width: 100%;
  height: 100%;
}

.dish-block__text-wrap {
  padding: 30px 15px 25px;
  background-color: #312F30;
  text-align: center;
  height: 100%;
}

@media (max-width: 991.98px) {
  .dish-block__text-wrap {
    padding: 22px 12px 25px;
  }
}

@media (max-width: 767.98px) {
  .dish-block__text-wrap {
    padding: 15px 10px 25px;
  }
}

.dish-block__headline {
  margin-bottom: 15px;
}

.main-proposal-section {
  padding: 70px 0;
  background-color: #312F30;
}

.main-proposal-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 991.98px) {
  .main-proposal-block {
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .main-proposal-block {
    -webkit-transform: scale(0.72);
        -ms-transform: scale(0.72);
            transform: scale(0.72);
    margin-bottom: -25px;
  }
}

.info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.info-wrap .text-block {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199.98px) {
  .info-wrap .text-block {
    width: 80%;
  }
}

@media (max-width: 991.98px) {
  .info-wrap .text-block {
    width: 70%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info-wrap .text-block__headline {
  margin-bottom: 25px;
}

.info-wrap .text-block__text {
  margin-bottom: 15px;
}

@media (max-width: 991.98px) {
  .info-wrap .text-block__text {
    text-align: center;
  }
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.price-block__real-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: #F6762C;
  opacity: 1;
  margin-right: 6px;
}

.price-block__old-price {
  font-weight: 500;
  color: #F6762C;
  opacity: 0.5;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  padding: 2px;
}

.text-block__price-block {
  margin-bottom: 10px;
}

.proposals-section {
  padding: 150px 0 75px;
}

@media (max-width: 1199.98px) {
  .proposals-section {
    padding: 85px 0 65px;
  }
}

.proposal-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 25px 65px 50px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1199.98px) {
  .proposal-block {
    padding: 45px 20px 45px 45px;
  }
}

@media (max-width: 575.98px) {
  .proposal-block {
    padding: 20px 10px 20px 20px;
  }
}

.proposal-block_dairy-queen {
  background-image: url("../img/proposals-section/dairy-queen.png");
  margin-bottom: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.proposal-block_pizza-hut {
  background-image: url("../img/proposals-section/pizza-hut.png");
  margin-bottom: 30px;
}

.proposal-block_burger-king {
  background-image: url("../img/proposals-section/burger-king.png");
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991.98px) {
  .proposal-block_burger-king {
    margin-bottom: 30px;
  }
}

.proposal-block_papa-john {
  background-image: url("../img/proposals-section/papa-johns.png");
}

.proposal-block__wrap {
  display: inline-block;
  width: 45%;
}

@media (max-width: 1199.98px) {
  .proposal-block__wrap {
    width: 50%;
  }
}

@media (max-width: 575.98px) {
  .proposal-block__wrap {
    width: 46%;
  }
}

.proposal-block__headline {
  margin-bottom: 20px;
}

@media (max-width: 1199.98px) {
  .proposal-block__headline {
    margin-bottom: 10px;
  }
}

@media (max-width: 575.98px) {
  .proposal-block__headline {
    font-size: 22px;
  }
}

.proposal-block__text {
  margin-bottom: 10px;
}

@media (max-width: 1199.98px) {
  .proposal-block__text {
    font-size: 14px;
    margin-bottom: 15px;
  }
}

@media (max-width: 575.98px) {
  .proposal-block__text {
    font-size: 12px;
  }
}

.proposal-block__price-block {
  margin-bottom: 10px;
}

.proposal-block__button {
  height: 40px;
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .proposal-block__button {
    padding: 0 20px;
  }
}

.real-price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #F6762C;
  margin-right: 10px;
}

.old-price {
  font-weight: 500;
  letter-spacing: 0.1em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #F6762C;
  opacity: 0.5;
}

.reviews-section {
  padding: 75px 0 195px;
}

@media (max-width: 575.98px) {
  .reviews-section {
    padding: 0 0 100px;
  }
}

.picture-wrap {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 575.98px) {
  .picture-wrap {
    -webkit-transform: scale(0.82);
        -ms-transform: scale(0.82);
            transform: scale(0.82);
  }
}

.picture-wrap__image {
  position: absolute;
}

.picture-wrap__image_big-circle {
  position: relative;
  -webkit-animation: around 60s linear infinite;
          animation: around 60s linear infinite;
}

.picture-wrap__image_small-circle {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: around-other-way 30s linear infinite;
          animation: around-other-way 30s linear infinite;
}

.picture-wrap__image_lady-one {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.picture-wrap__image_lady-two {
  -webkit-animation: orbit-1 20s linear infinite;
          animation: orbit-1 20s linear infinite;
}

.picture-wrap__image_lady-three {
  -webkit-animation: orbit-2 20s linear infinite;
          animation: orbit-2 20s linear infinite;
}

.picture-wrap__image_man-one {
  -webkit-animation: orbit-3 20s linear infinite;
          animation: orbit-3 20s linear infinite;
}

.picture-wrap__image_man-two {
  -webkit-animation: orbit-4 20s linear infinite;
          animation: orbit-4 20s linear infinite;
}

@-webkit-keyframes around {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes around {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes around-other-way {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes around-other-way {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes orbit-1 {
  0% {
    -webkit-transform: rotate(0deg) translate(115px, -125px) rotate(0deg);
            transform: rotate(0deg) translate(115px, -125px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(115px, -125px) rotate(360deg);
            transform: rotate(-360deg) translate(115px, -125px) rotate(360deg);
  }
}

@keyframes orbit-1 {
  0% {
    -webkit-transform: rotate(0deg) translate(115px, -125px) rotate(0deg);
            transform: rotate(0deg) translate(115px, -125px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(115px, -125px) rotate(360deg);
            transform: rotate(-360deg) translate(115px, -125px) rotate(360deg);
  }
}

@-webkit-keyframes orbit-2 {
  0% {
    -webkit-transform: rotate(0deg) translate(115px, 130px) rotate(0deg);
            transform: rotate(0deg) translate(115px, 130px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(115px, 130px) rotate(360deg);
            transform: rotate(-360deg) translate(115px, 130px) rotate(360deg);
  }
}

@keyframes orbit-2 {
  0% {
    -webkit-transform: rotate(0deg) translate(115px, 130px) rotate(0deg);
            transform: rotate(0deg) translate(115px, 130px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(115px, 130px) rotate(360deg);
            transform: rotate(-360deg) translate(115px, 130px) rotate(360deg);
  }
}

@-webkit-keyframes orbit-3 {
  0% {
    -webkit-transform: rotate(0deg) translate(-115px, -125px) rotate(0deg);
            transform: rotate(0deg) translate(-115px, -125px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(-115px, -125px) rotate(360deg);
            transform: rotate(-360deg) translate(-115px, -125px) rotate(360deg);
  }
}

@keyframes orbit-3 {
  0% {
    -webkit-transform: rotate(0deg) translate(-115px, -125px) rotate(0deg);
            transform: rotate(0deg) translate(-115px, -125px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(-115px, -125px) rotate(360deg);
            transform: rotate(-360deg) translate(-115px, -125px) rotate(360deg);
  }
}

@-webkit-keyframes orbit-4 {
  0% {
    -webkit-transform: rotate(0deg) translate(-115px, 125px) rotate(0deg);
            transform: rotate(0deg) translate(-115px, 125px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(-115px, 125px) rotate(360deg);
            transform: rotate(-360deg) translate(-115px, 125px) rotate(360deg);
  }
}

@keyframes orbit-4 {
  0% {
    -webkit-transform: rotate(0deg) translate(-115px, 125px) rotate(0deg);
            transform: rotate(0deg) translate(-115px, 125px) rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg) translate(-115px, 125px) rotate(360deg);
            transform: rotate(-360deg) translate(-115px, 125px) rotate(360deg);
  }
}

.text-wrap {
  text-align: center;
  padding-top: 95px;
  width: 58%;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .text-wrap {
    padding-top: 55px;
    width: 80%;
  }
}

.text-wrap__quotes {
  margin-bottom: 40px;
}

@media (max-width: 575.98px) {
  .text-wrap__quotes {
    margin-bottom: 22px;
  }
}

.text-wrap__text {
  margin-bottom: 30px;
}

@media (max-width: 575.98px) {
  .text-wrap__text {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.text-wrap__name {
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 24px;
  opacity: 1;
}

@media (max-width: 575.98px) {
  .text-wrap__name {
    font-size: 20px;
  }
}

.text-wrap__company {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

@media (max-width: 575.98px) {
  .text-wrap__company {
    font-size: 10px;
  }
}

.download-section {
  background-color: #312F30;
}

.download-container {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .download-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767.98px) {
  .download-container {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 767.98px) {
  .download-container__headline {
    margin-bottom: 20px;
  }
}

@media (max-width: 991.98px) {
  .download-container__headline {
    font-size: 34px;
  }
}

.main-footer {
  padding: 70px 0 100px;
}

@media (max-width: 991.98px) {
  .contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
  }
}

@media (max-width: 575.98px) {
  .contacts-block {
    margin-bottom: 55px;
  }
}

.contacts-block__logo-link {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 25px;
}

@media (max-width: 991.98px) {
  .contacts-block__logo-link {
    margin-bottom: 0;
  }
}

.contacts-block__logo-image {
  width: 71px;
  height: 55px;
}

.contacts-block__contacts {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contacts-block__link {
  font-size: 12px;
  line-height: 1.2;
  opacity: 0.8;
  position: relative;
  margin-bottom: 10px;
  padding-left: 25px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.contacts-block__link:hover {
  color: #F6762C;
}

.contacts-block__link:last-child {
  margin-bottom: 0;
}

.contacts-block__link_email::before {
  content: url("../img/footer/envelope.svg");
  position: absolute;
  height: 11px;
  left: 3px;
  top: 46%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contacts-block__link_site::before {
  content: url("../img/footer/planet.svg");
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 12px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu__headline {
  margin-bottom: 15px;
}

.footer-menu__list-item {
  margin-bottom: 15px;
}

.footer-menu__list-item:last-child {
  margin-bottom: 0;
}

.footer-menu__link {
  display: inline-block;
  font-size: 12px;
  line-height: 1.2;
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.footer-menu__link:hover {
  color: #F6762C;
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
}

@media (max-width: 575.98px) {
  .social-media {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-media__headline {
  margin-bottom: 15px;
}

.link-container__link {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.link-container__link:last-child {
  margin-right: 0;
}

.link-container__link:hover {
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
}
