.download-section {
    background-color: #312F30;
}
.download-container {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
