.home-section {
    height: 100vh;
    background-image: url("../img/home-section/burger-bg.jpg");
    background-size: cover;
}
.home-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
		&__headline {
            font-size: 14px;
            line-height: 1.1;
            letter-spacing: 0.1em;
            margin-bottom: 10px;
            @media(max-width: 991.98px){
                margin-bottom: 5px;
                font-size: 12px;
            }
        }
		&__subheadline {
            font-size: 57px;
            margin-bottom: 40px;
            @media(max-width: 1199.98px){
                margin-bottom: 22px;
            }
            @media(max-width: 991.98px){
                margin-bottom: 20px;
                font-size: 52px;
            }
            @media(max-width: 767.98px){
                font-size: 48px;
            }
        }
		&__text {
            font-size: 18px;
            margin-bottom: 42px;
            @media(max-width: 1199.98px){
                margin-bottom: 30px;
                font-size: 16px;
            }
            @media(max-width: 767.98px){
                font-size: 14px;
            }
        }
}




